@import url('../../default.css');

.container {
  width: 100%;
  max-width: 1048px;
  background-color: $white;
  padding: 48px;
  border-radius: 10px;
  box-shadow: $bigShadow;
  cursor: default;

  h3 {
    font-size: $font3;
    font-weight: $font3W;
    text-align: center;
    margin-bottom: 32px;
  }
}

.profilesList {
  width: 872px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

  .profile {
    button {
      width: 216px;
      padding: 16px;
      border-radius: 5px;

      &:hover {
        background-color: $snow;
      }
    }
  }

  .userImage {
    width: 184px;
    height: 184px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 24px;
    box-shadow: $defaultShadow;
  }

  p {
    font-size: $font2;
    font-weight: $font2W;
    text-align: center;
  }
}
