@import url('../../default.css');

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: $white;
  padding: 16px;
  width: 70%;
  max-width: 522px;

  > button {
    margin-bottom: 32px;
  }

  @media screen and (max-width: 480px) {
    width: 80%;
  }
  @media screen and (max-width: 360px) {
    width: 90%;
  }
}

.text {
  font-size: $font5;
  font-weight: $font5W;
  margin: 32px 0;
  white-space: pre-line;
  text-align: center;

  @media screen and (max-width: 768px) {
    font-size: $font6;
    font-weight: $font6W;
  }
}

.input {
  max-width: 344px;
  width: 70%;
  margin-bottom: 16px;

  input {
    margin-bottom: 2px;
  }

  span {
    display: inline-block;
    height: 12px;
    margin-left: 4px;
    font-size: $sub;
    font-weight: $subW;
    color: $red;
  }
}

.buttonBox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 168px;
  margin-bottom: 32px;
}
