@import url('../../default.css');

.container {
  width: 696px;
  height: 640px;
  border-radius: 5px;
  position: relative;

  .refresh {
    position: absolute;
    right: 0;
    top: -46px;
    background-color: $snow;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      font-size: 24px;
    }

    > span {
      position: relative;
      top: 1px;
      font-size: $sub;
      font-weight: 600;
    }

    &:hover {
      > svg {
        transform: rotate(90deg);
        transition: all 0.3s;
      }
    }
  }
}

.messageContainer {
  width: 100%;
  height: 592px;
  padding: 16px;
  background-color: $snow;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #666 #f00;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $nickel;
    border-radius: 10px;
    border: none;
  }
}

.sendContainer {
  width: 100%;
  height: 48px;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;

  .menu {
    padding: 6px;
    background-color: $snow;
    border-radius: 5px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      font-size: 24px;
    }
  }

  .textInput {
    background-color: $snow;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 3px;
    padding: 10px 10px 8px;
    font-size: $para;
    font-weight: $paraW;

    &:focus {
      outline: 1px solid $silver;
    }

    &:placeholder {
      font-size: $font6;
      font-weight: $font6W;
      color: $moon;
    }
  }

  .sendBtn {
    width: 72px;
    height: 36px;
    background-color: $night;
    color: $white;
    font-size: $font5;
    font-weight: $font5W;
    border-radius: 5px;
    margin-left: 8px;
  }
}

.dropdown {
  position: absolute;
  top: -98px;
  left: 0;
  width: 168px;
  height: 94px;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: $bigShadow;

  button {
    width: 152px;
    height: 36px;
    line-height: 36px;
    font-size: $font6;
    font-weight: $font6W;
    border-radius: 5px;
    color: $white;

    &:first-child {
      background-color: $night;
      margin-bottom: 8px;
    }

    &:last-child {
      background-color: $red;
    }
  }
}
