@import url('../../default.css');

.container {
  height: 640px;
  border-radius: 5px;
  position: relative;

  @media screen and (max-width: 768px) {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .btn {
    position: absolute;
    top: -48px;
    background-color: $snow;
    border-radius: 5px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    > svg {
      font-size: 24px;
      vertical-align: middle;
    }

    > span {
      position: relative;
      top: 1px;
      font-size: $sub;
      font-weight: 600;
    }

    &.refresh {
      right: 0;

      &:hover {
        > svg {
          transform: rotate(90deg);
          transition: all 0.3s;
        }
      }
    }

    &.close {
      display: none;
      left: 0;
      box-shadow: $buttonShadow;
      @media screen and (max-width: 768px) {
        display: block;
      }
    }
  }
}

.messageContainer {
  width: 100%;
  height: 592px;
  padding: 16px;
  background-color: $snow;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: auto;
  scrollbar-color: #666 #f00;

  @media screen and (max-width: 768px) {
    height: auto;
    flex: 1 0 0;
  }

  .chatContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .dateLine {
    align-self: center;
    font-size: $sub;
    font-weight: 600;
    line-height: 12px;
    background-color: $white;
    padding: 4px 16px;
    border-radius: 30px;
    margin-bottom: 8px;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $nickel;
    border-radius: 10px;
    border: none;
  }
}

.sendContainer {
  width: 100%;
  height: 48px;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  align-items: center;
  position: relative;

  .menu {
    padding: 6px;
    background-color: $snow;
    border-radius: 5px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;

    /* stylelint-disable-next-line no-descending-specificity */
    svg {
      font-size: 24px;
    }
  }

  .textInput {
    background-color: $snow;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 3px;
    padding: 10px 10px 8px;
    font-size: $para;
    font-weight: $paraW;

    &:focus {
      outline: 1px solid $silver;
    }

    &:placeholder {
      font-size: $font6;
      font-weight: $font6W;
      color: $moon;
    }
  }

  .sendBtn {
    width: 72px;
    height: 36px;
    background-color: $night;
    color: $white;
    font-size: $font5;
    font-weight: $font5W;
    border-radius: 5px;
    margin-left: 8px;
  }
}

.dropdown {
  position: absolute;
  top: -98px;
  left: 0;
  width: 168px;
  height: 94px;
  background-color: $white;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: $bigShadow;

  button {
    width: 152px;
    height: 36px;
    line-height: 36px;
    font-size: $font6;
    font-weight: $font6W;
    border-radius: 5px;
    color: $white;

    &:first-child {
      background-color: $night;
      margin-bottom: 8px;
    }

    &:last-child {
      background-color: $red;
    }
  }
}
