@import url('../default.css');

.wrapper {
  width: 100%;
  height: 100%;
}

.background {
  background-color: $snow;
  min-width: 1048px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
