@import url('../default.css');

.wrapper {
  width: 100%;
  background-color: $white;
}

.container {
  height: 100%;
  max-width: 1048px;
  margin: 0 auto;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 320px;
  background-color: $yellow;

  @media only screen and (max-width: 480px) {
    height: 240px;
  }

  @media only screen and (max-width: 360px) {
    height: 200px;
  }

  .bannerContents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bannerText {
    font-size: $font3;
    font-weight: $font3W;
    margin-bottom: 21px;

    @media only screen and (max-width: 550px) {
      font-size: $font4;
    }

    @media only screen and (max-width: 480px) {
      font-size: $font5;
    }

    @media only screen and (max-width: 360px) {
      font-size: $font6;
    }
  }
}

.searchBox {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  background-color: $snow;
  width: 90%;
  height: 60px;
  border: 3px solid $night;
  border-radius: 5px;
}

.iconBox {
  position: absolute;
  top: 16px;
  left: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.mdSearch {
  font-size: 24px;
  height: 24px;
  background-color: $snow;
}

.input {
  width: 100%;
  border-radius: 5px;
  border: none;
  background-color: $snow;
  outline: none;
  font-size: $font5;
  font-weight: $font5W;
  padding-left: 48px;

  &::placeholder {
    text-align: center;
  }
}

.feedContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(320px, auto);
  gap: 8px;
  padding: 0 8px;
  margin-bottom: 16px;

  @media screen and (max-width: 768px) {
    padding: 0 16px;
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (max-width: 480px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.notFound {
  width: 100%;
  font-size: $font3;
  font-weight: $font3W;
  color: $nickel;
  text-align: center;
  padding: 320px 0;
}

.menuContainer {
  display: flex;
  justify-content: space-between;
  margin: 24px 16px;
  @media screen and (max-width: 768px) {
    flex-direction: column;
    margin-bottom: 8px;
  }
}

.menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @media screen and (max-width: 768px) {
    margin-bottom: 16px;
  }
}

.filter {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: $font6;
  font-weight: $font6W;
  cursor: pointer;

  @media screen and (max-width: 768px) {
    align-self: flex-end;
  }

  .mdFilterList {
    font-size: 24px;
    position: relative;
    top: -2px;
  }

  > span {
    display: block;
    width: 56px;
    padding: 4px;
    font-weight: $font3W;
  }
  @media screen and (max-width: 480px) {
    > span {
      font-size: $sub;
      display: block;
      width: 48px;
    }

    .mdFilterList {
      font-size: 16px;
    }
  }
}

.defaultMenu {
  background-color: $snow;
  color: $coal;
  font-size: $font5;
  font-weight: $font5W;
  width: 80px;
  height: 32px;
  border-radius: 12px;
  padding: 4px 10px;
  margin-right: 8px;
  box-shadow: $buttonShadow;
  margin-bottom: 8px;

  @media screen and (max-width: 768px) {
    font-size: $font6;
    font-weight: $font6W;
    width: 60px;
    height: 24px;
    padding: 4px 2px;
  }
}

.activeMenu {
  background-color: $night;
  color: $white;
  font-size: $font5;
  font-weight: $font5W;
  width: 80px;
  height: 32px;
  border-radius: 12px;
  padding: 4px 10px;
  margin-right: 8px;
  box-shadow: $buttonShadow;
  margin-bottom: 8px;

  @media screen and (max-width: 768px) {
    font-size: $font6;
    font-weight: $font6W;
    width: 60px;
    height: 24px;
    padding: 4px 2px;
  }
}
