@import url('../default.css');

.wrapper {
  width: 100%;
}

.background {
  background-color: $snow;
  min-width: 1048px;
  margin: 0 auto;
}

/* .container {
  display: flex;
  justify-content: center;
  padding-top: 16px;
} */
