@import url('../default.css');

.wrapper {
  width: 100%;
  background-color: $snow;
  overflow: hidden;
  height: 100%;
}

.container {
  max-width: 1048px;
  margin: 0 auto;
  padding: 0 16px;
  margin-bottom: 100px;

  @media screen and (max-width: 768px) {
    padding: 0 8px;
  }

  h2 {
    font-size: $font1;
    font-weight: $font1W;
    color: $black;
    margin: 24px 0 16px;
  }

  .filter {
    margin-bottom: 36px;

    > * {
      font-size: $font5;
      font-weight: $font5W;
      color: $moon;
    }

    > .active {
      color: $black;
    }
  }

  .tutoringList {
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, minmax(49%, 1fr));
    grid-template-rows: repeat(5, minmax(1fr, 1fr));
    column-gap: 8px;
    row-gap: 8px;

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(1, minmax(49%, 1fr));
      grid-template-rows: repeat(10, minmax(1fr, 1fr));
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(1, minmax(1fr, 1fr));
      grid-template-rows: repeat(10, minmax(1fr, 1fr));
    }
  }
}

.noContent {
  background-color: $silver;
  border-radius: 5px;
  box-shadow: $defaultShadow;

  > p {
    padding: 70px;
    font-size: $font4;
    font-weight: $font4W;
    text-align: center;
  }
}
