@import url('../default.css');

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $snow;
}

.container {
  height: 100%;
  max-width: 1048px;
  margin: 0 auto;
}

.title {
  font-size: $font1;
  font-weight: $font1W;
  padding-top: 32px;
  margin-bottom: 38px;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding-left: 24px;
    font-size: $font3;
    font-weight: $font3W;
  }
}

.listContainer {
  min-height: 640px;
  width: 100%;
}
