@import url('../default.css');

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $snow;
}

.container {
  height: 100%;
  padding: 0 16px;
  max-width: 1048px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
