@import url('../../default.css');

.tutoring {
  background-color: $white;
  box-shadow: $buttonShadow;
  border-radius: 5px;

  &.finish {
    background-color: $silver;
  }

  > a {
    display: block;
    padding: 16px;
    position: relative;

    h4 {
      font-size: $font4;
      font-weight: $font4W;
      margin-bottom: 16px;

      @media screen and (max-width: 1048px) and (min-width: 768px) {
        display: flex;
        flex-direction: column;

        > span {
          margin-top: 8px;
        }
      }
    }

    span {
      font-size: $font6;
      font-weight: $font6W;

      @media screen and (max-width: 1048px) {
        font-weight: $para;
      }
    }

    .noti {
      position: absolute;
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: $red;
      border-radius: 50%;
      top: 8px;
      right: 8px;
    }
  }
}

.title {
  font-size: $font4;
  font-weight: $font4W;
}
