@import url('../../default.css');

.container {
  background-color: $white;
  border-radius: 5px;
  padding: 40px;
  box-shadow: $bigShadow;
  position: relative;
  width: 100%;
  @media screen and (max-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    column-gap: 16px;
    padding: 32px;
  }
  @media screen and (max-width: 480px) {
    display: grid;
    grid-template-columns: none;
    row-gap: 16px;
  }

  .required {
    display: block;
    text-align: right;
    margin-top: 16px;
    font-size: $sub;
    font-weight: 500;
    @media screen and (max-width: 768px) {
      margin-top: 0;
    }
  }

  .requiredIcon {
    position: relative;
    top: -4px;
    margin: 0 8px;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: $red;
  }

  .userImage {
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    .imgContain {
      width: 100%;
      height: 100%;
      position: absolute;

      > img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .imgContain > button {
      position: absolute;
      bottom: 16px;
      right: 16px;
      width: 40px;
      height: 40px;
      background-color: $night;
      border-radius: 50%;
      box-shadow: $buttonShadow;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        font-size: 24px;
        fill: $white;
      }
    }

    > input {
      z-index: 1;
      position: absolute;
      bottom: 10px;
      left: 200px;
      background-color: $snow;
      border-radius: 5px;
    }
  }

  .userInfo {
    @media screen and (max-width: 768px) {
      width: 100%;
    }

    > .inputContain {
      margin-bottom: 24px;
      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 16px;
      }

      &:first-child {
        margin-bottom: 12px;
      }
    }

    .vali {
      display: inline-block;
      height: 12px;
      font-size: $sub;
      font-weight: $subW;
      color: $red;
    }

    .desc {
      display: inline-block;
      height: 12px;
      font-size: $sub;
      font-weight: $subW;
      color: $nickel;
      @media screen and (max-width: 768px) {
        margin-top: 8px;
        padding-left: 8px;
      }
    }
  }

  .subject {
    font-size: $font6;
    font-weight: $font6W;
    padding-left: 4px;
    @media screen and (max-width: 768px) {
      margin-top: 24px;
    }
    @media screen and (max-width: 480px) {
      margin-top: 0;
    }
  }

  .btnContain {
    width: 264px;
    margin-top: 4px;
    margin-bottom: 32px;
    @media screen and (max-width: 768px) {
      width: 100%;
      margin-bottom: 0;
      display: flex;
      flex-wrap: wrap;
    }

    > button {
      width: 64px;
      height: 24px;
      border-radius: 10px;
      background-color: $nickel;
      color: $white;
      font-size: $font6;
      font-weight: $font6W;
      line-height: 24px;
      margin-right: 8px;
      margin-bottom: 8px;

      &.active {
        background-color: $dirty;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .buttonBox {
    @media screen and (max-width: 768px) {
      margin-top: 48px;

      > button {
        width: 100%;
      }
    }
    @media screen and (max-width: 480px) {
      margin-top: 0;
    }
  }
}
