@import url('../../default.css');

.container {
  display: flex;
  flex-direction: column;
  width: 123px;
  margin-right: 16px;

  .font1 {
    font-size: $font1;
    font-weight: $font1W;
  }

  .font4 {
    font-size: $font5;
    font-weight: $font4W;
    margin-top: -7px;
  }

  .font6 {
    font-size: $font6;
    font-weight: $font6W;
  }
}

.line1 {
  display: flex;
}

.line3 {
  display: flex;
  justify-content: space-between;
  height: 18px;
  width: 125px;
  margin-top: 7px;
}

.iconButton {
  margin-top: 13px;
  margin-left: 15px;
  position: absolute;
}
