@import url('../../default.css');

.dropDownButton {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: $snow;
  position: absolute;
  top: 32px;
  right: 32px;

  .buttonImg {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  > ul {
    width: 121px;
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 49px;

    :first-child {
      margin-bottom: 2px;
    }
  }
}
