@import url('../../default.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 63px;

  h1 {
    font-size: $font1;
    font-weight: $font1W;
    margin-bottom: 32px;
    display: flex;
    margin-right: 777px;
  }

  h4 {
    font-size: $font4;
    font-weight: $font4W;
  }
}

.journalContainer {
  width: 1048px;
  height: 100%;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $bigShadow;
  padding: 32px;
  position: relative;

  .buttonContainer {
    display: flex;
    width: 203px;
    position: absolute;
    right: 32px;
    top: 24px;
    justify-content: space-between;
  }
}

.upperPart {
  display: flex;
  margin-bottom: 32px;
  margin-top: 24px;

  .titleContainer {
    width: 843px;
    height: 36px;
  }
}

.lowerPart {
  display: flex;
  margin-top: 16px;

  h4 {
    margin-bottom: 16px;
  }

  .noticeHomework {
    margin-right: 12px;
  }

  .noticeArea {
    width: 484px;
    height: 120px;

    > * {
      resize: none;
    }
  }

  .scheduleArea {
    width: 488px;
    height: 388px;

    > * {
      resize: none;
    }
  }

  .homeworkContainer {
    margin-top: 16px;
  }
}

.homeworkArea {
  width: 100%;

  .checkBoxContainer {
    display: flex;
    margin-bottom: 8px;
  }

  .homeworkBody {
    margin-left: 8px;
    font-size: $para;
    font-weight: $para;
  }

  .addHomework {
    display: flex;

    input {
      margin-left: 8px;
      border: 0;
      outline: none;
    }
  }
}
