@import url('../../default.css');

.container {
  display: flex;
  flex-direction: column;
  padding: 32px 16px 64px;
  width: 100%;
  max-width: 1048px;

  label {
    display: inline-block;
  }

  h1 {
    font-size: $font1;
    font-weight: $font1W;
    margin-bottom: 32px;
    display: flex;
  }

  h4 {
    font-size: $font4;
    font-weight: $font4W;
  }

  @media screen and (max-width: 480px) {
    h1 {
      font-size: $font3;
      font-weight: $font3W;
    }

    h4 {
      margin-bottom: 16px;
    }
  }
}

.requiredIcon {
  position: relative;
  top: -10px;
  margin: 0 4px;
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: $red;
}

.required {
  display: block;
  text-align: right;
  font-size: $sub;
  font-weight: 500;
  position: absolute;
  right: 200px;
  top: 48px;

  @media screen and (max-width: 768px) {
    right: 36px;
  }
  @media screen and (max-width: 480px) {
    top: 24px;
    right: 24px;
  }

  .requiredIcon {
    top: -5px;
  }
}

.journalContainer {
  width: 100%;
  height: 100%;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $bigShadow;
  padding: 32px;
  position: relative;

  @media screen and (max-width: 480px) {
    padding: 24px;
  }

  .buttonContainer {
    display: flex;
    flex-direction: row-reverse;
    position: absolute;
    right: 32px;
    top: 20px;
    align-items: flex-end;

    > button {
      margin-left: 8px;
    }

    @media screen and (max-width: 768px) {
      position: static;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8px;
      margin-top: 16px;

      > button {
        margin: 0;
      }
    }
  }

  .upperPart {
    display: flex;
    margin-bottom: 32px;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    .upperGoal {
      flex: 1 0 0;
    }

    .titleContainer {
      width: 100%;
      margin-top: 17px;
    }
  }

  .lowerPart {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;

    @media screen and (max-width: 768px) {
      grid-template-columns: minmax(200px, 1fr);
      padding-top: 16px;
    }

    h4 {
      margin-bottom: 16px;
    }

    .noticeArea {
      width: 100%;
      height: 120px;

      > * {
        resize: none;

        &::-webkit-scrollbar {
          display: none; /* Chrome , Safari , Opera */
        }
      }
    }

    .scheduleArea {
      width: 100%;
      height: 388px;

      > * {
        resize: none;

        &::-webkit-scrollbar {
          display: none; /* Chrome , Safari , Opera */
        }
      }
    }

    .homeworkContainer {
      width: 100%;
      margin-top: 16px;

      @media screen and (max-width: 768px) {
        margin-bottom: 16px;
      }
    }
  }

  .homeworkArea {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    height: 209px;
    scrollbar-width: auto;
    scrollbar-color: #666 #f00;
    @media screen and (max-width: 768px) {
      height: auto;
    }

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: none;
    }

    &::-webkit-scrollbar-thumb {
      background-color: $nickel;
      border-radius: 10px;
      border: none;
    }

    .checkBoxContainer {
      display: flex;
      padding: 4px;
      margin-bottom: 8px;
      position: relative;
      border-radius: 3px;

      .homeworkMenu {
        position: absolute;
        right: 4px;
        opacity: 0;
        transition: 0.2s ease-in-out;

        > button svg {
          font-size: 20px;
          fill: $nickel;
        }
      }

      &:hover {
        background-color: $snow;

        .homeworkMenu {
          opacity: 1;
        }
      }
    }

    .homeworkBody {
      margin-left: 8px;
      font-size: $para;
      font-weight: $paraW;
      overflow: hidden;
      word-wrap: break-word;
      padding-right: 20px;
    }

    .addHomework {
      display: flex;
      padding: 4px;

      input {
        margin: 0 8px;
        border: 0;
        border-bottom: 2px solid $moon;
        outline: none;
        flex: 1 0 0;
      }
    }
  }
}
