@import url('../../default.css');

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 104px;
  padding-bottom: 64px;

  @media screen and (max-width: 1064px) {
    padding: 104px 16px 64px;
  }
}

.journalContainer {
  width: 1048px;
  height: 100%;
  background-color: $white;
  border-radius: 5px;
  box-shadow: $bigShadow;
  padding: 32px;
  margin-top: 0 16px;
  position: relative;

  @media screen and (max-width: 1064px) {
    width: 100%;
  }

  h1 {
    font-size: $font1;
    font-weight: $font1W;
    position: absolute;
    top: -80px;
    left: 8px;

    @media screen and (max-width: 1064px) {
      position: absolute;
      top: -72px;
    }

    @media screen and (max-width: 768px) {
      font-size: $font3;
      font-weight: $font3W;
    }
  }

  .exitButton {
    position: absolute;
    top: -66px;
    right: 0;
    @media screen and (max-width: 1064px) {
      right: 8px;
    }
  }

  .upperPart {
    display: flex;
    width: 100%;

    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    .upperGoal {
      width: 100%;

      @media screen and (max-width: 480px) {
        margin-top: 36px;
      }
    }

    .font1 {
      font-size: $font1;
      font-weight: $font1W;
    }

    .font5 {
      font-size: $font5;
      font-weight: $font5W;

      @media screen and (max-width: 1064px) {
        font-size: $font6;
        font-weight: $font6W;
      }
    }

    .font6 {
      font-size: $font6;
      font-weight: $font6W;
    }

    .pickerContainer {
      margin-right: 15px;
    }

    .titleContainer {
      width: 100%;

      .menuLine {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
    }
  }

  .dropDownBox {
    position: absolute;
    right: 0;
    top: -8px;

    /* @media screen and (max-width: 480px) {
      display: none;
    } */
  }

  .lowerPart {
    display: flex;
    margin-top: 40px;

    @media screen and (max-width: 1064px) {
      flex-direction: column;
      justify-content: center;
    }

    h4 {
      margin-bottom: 16px;
      width: 100%;

      @media screen and (max-width: 480px) {
        font-size: $font5;
      }
    }

    .noticeHomework {
      margin-right: 12px;
      width: 49%;

      @media screen and (max-width: 1064px) {
        width: 100%;
      }
    }

    .noNotice {
      width: 100%;
      font-size: $font4;
      font-weight: $font4W;
      color: $silver;
      background-color: $snow;
      text-align: center;
      padding: 40px;
      border-radius: 5px;

      @media screen and (max-width: 1064px) {
        width: 100%;
      }
    }

    .scheduleContainer {
      width: 50%;
    }

    .scheduleArea {
      width: 100%;
      height: 90%;
      white-space: pre-line;
      background-color: $snow;
      min-height: 64px;
      padding: 16px;

      @media screen and (max-width: 1064px) {
        width: 100%;
        height: 100%;
        margin-bottom: 16px;
      }
    }

    .homeworkContainer {
      margin-top: 36px;

      @media screen and (max-width: 1064px) {
        margin-bottom: 32px;
      }
    }
  }

  .noticeArea {
    width: 100%;
    background-color: $snow;
    padding: 16px;
    margin-top: 20px;
    font-size: $font5;
    font-weight: $font5W;
    @media screen and (max-width: 480px) {
      font-size: $font6;
      font-weight: $font6W;
      word-wrap: break-word;
    }
  }

  .homeworkArea {
    width: 100%;
    margin-top: 0;
    background-color: $snow;
    min-height: 64px;
    padding: 16px;

    .noHomework {
      background-color: $snow;
      font-size: $font4;
      font-weight: $font4W;
      color: $silver;
      text-align: center;
      padding: 80px;
      border-radius: 5px;
    }

    .checkBoxContainer {
      display: flex;
      margin-bottom: 15px;
    }

    .homeworkBody {
      margin-left: 8px;
      font-size: $para;
      font-weight: $para;
    }

    .addHomework {
      display: flex;

      input {
        margin-left: 8px;
        border: 0;
        outline: none;
      }
    }
  }
}
