@import url('../default.css');

.default {
  background-color: $white;
  padding: 8px 16px;
  font-size: $font4;
  font-weight: $font4W;
  color: black;
  border-radius: 5px;
  box-shadow: $buttonShadow;
}

.nightBlue {
  background-color: $night;
  padding: 8px 16px;
  font-size: $font4;
  font-weight: $font4W;
  color: $white;
  border-radius: 5px;
  box-shadow: $buttonShadow;
}

.red {
  background-color: $red;
  padding: 8px 16px;
  font-size: $font4;
  font-weight: $font4W;
  color: $white;
  border-radius: 5px;
}

.snow {
  background-color: $snow;
  padding: 8px 16px;
  font-size: $font4;
  font-weight: $font4W;
  color: black;
  border-radius: 5px;
  box-shadow: $buttonShadow;
}

.silver {
  background-color: $silver;
  padding: 8px 16px;
  font-size: $font4;
  font-weight: $font4W;
  color: black;
  border-radius: 5px;
  box-shadow: $buttonShadow;
}
