/* stylelint-disable no-descending-specificity */
@import url('../default.css');

.header {
  width: 100%;
  height: 64px;
  padding: 0 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 10px rgb(0 0 0 / 10%);
  background-color: $white;
  font-size: $font5;
  font-weight: $font5W;
  color: $black;

  .hamBtn {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }

    svg {
      font-size: 40px;
    }
  }
}

.logo {
  svg {
    height: 24px;
  }

  .symbolLogo {
    display: none;
  }

  @media screen and (max-width: 768px) {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;

    .symbolLogo {
      display: block;
      height: 36px;
    }

    .textLogo {
      display: none;
    }
  }
}

.nav {
  width: 50%;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;

  &.active {
    left: 0;
    background-color: rgba(0 0 0 / 35%);
    transition: background-color 0.2s ease-in-out;

    ul {
      left: 0;
      transition: all 0.3s ease-in-out;
    }
  }

  @media screen and (max-width: 768px) {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    z-index: 999;
    transform: none;
    background-color: rgba(0 0 0 / 0%);
  }

  ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (max-width: 768px) {
      position: absolute;
      top: 0;
      left: -40%;
      width: 40%;
      height: 100%;
      background-color: $white;
      box-shadow: $containShadow;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 64px;

      li {
        margin-bottom: 16px;
      }
    }

    li > a,
    button {
      font-size: $font4;
      font-weight: $font4W;
    }
  }
}

.memberMenu {
  .menuContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: $font4;
    font-weight: $font4W;
    position: relative;

    .notiButton {
      position: relative;

      .notiRed {
        display: inline-block;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: $red;
        position: absolute;
        top: 4px;
        right: 4px;
      }
    }
    @media screen and (max-width: 768px) {
      li.login > button > span {
        display: none;
      }
    }

    > li {
      &.center {
        margin: 0 8px;
      }

      > button {
        padding: 4px 8px;
        border-radius: 5px;

        &:hover {
          background-color: $snow;
        }
      }

      .profileButton {
        display: flex;
        justify-content: center;
        align-items: center;

        .profileImage {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 8px;
          @media screen and (max-width: 768px) {
            margin-right: 0;
          }
        }

        span {
          font-size: $font6;
          font-weight: $font5W;
        }
      }
    }
  }

  svg {
    font-size: 26px;
  }

  .dropdown {
    display: block;
    position: absolute;
    top: 64px;
    right: 5px;
    background-color: $white;
    padding: 0 24px;
    border-radius: 0 0 5px 5px;
    box-shadow: $defaultShadow;

    li {
      margin: 24px 0;
      height: 20px;
      text-align: center;

      &:hover {
        text-decoration: underline;
      }

      > a,
      > button {
        display: inline-block;
        width: 100%;
        font-size: $font5;
        font-weight: $font5W;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
