@import url('../default.css');

.backdrop {
  z-index: 1;
  position: fixed;
  display: flex;
  justify-content: center;
  background-color: rgb(0 0 0 / 40%);
}

.view {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

.text {
  font-size: $font5;
}

.button {
  font-size: $font4;
}
