@import url('../default.css');

.backdrop {
  z-index: 2;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 35%);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: $white;
  width: 522px;
  height: 240px;
}

.text {
  font-size: $font5;
  margin-bottom: 47px;
}

.buttonBox {
  display: flex;
  flex-direction: row;
}

.button {
  font-size: $font4;
  width: 74px;
  height: 45px;
  background-color: $night;
  border-radius: 5px;
  margin: 20px;
  color: $white;
}

.cancleButton {
  font-size: $font4;
  width: 74px;
  height: 45px;
  background-color: $silver;
  border-radius: 5px;
  margin: 20px;
  color: $white;
}
