@import url('../default.css');

.noticeBoxContainer {
  width: 320px;
  background-color: $snow;
  position: absolute;
  right: 120px;
  top: 64px;
  display: flex;
  flex-direction: column;
  box-shadow: $bigShadow;
}

.noticeListArea {
  height: 320px;
  padding: 8px;
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.noticeListArea::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.noAlarm {
  font-size: $font6;
  font-weight: $font6W;
  color: $nickel;
  text-align: center;
  padding: 72px;
  margin-top: 56px;
}

.buttonArea {
  height: 30px;
  background-color: $white;
  padding-right: 8px;
  box-shadow: 0 -4px 10px rgb(0 0 0 / 10%);
  display: flex;
  justify-content: flex-end;
  align-items: center;

  > button {
    display: flex;
  }

  > button:last-child {
    margin-left: 8px;
  }

  > button:hover {
    text-decoration: underline;
  }

  > button > span {
    font-size: 14px;
    margin-top: 1.5px;
  }
}
