@import url('../../default.css');

.container {
  background-color: $snow;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 256px;
  height: 400px;
  box-shadow: $buttonShadow;

  @media only screen and (max-width: 550px) {
    width: 240px;
  }

  @media only screen and (max-width: 510px) {
    width: 208px;
  }
}

.img {
  width: 90%;
  height: 40%;
  object-fit: cover;
  margin-top: 16px;
}

.nameAndStars {
  margin-top: 10px;
  width: 90%;

  .name {
    font-size: $font4;
    font-weight: $font4W;
    margin-bottom: 4px;
  }
}

.yellowStar {
  fill: $yellow;
  font-size: 18px;
}

.emptyStar {
  fill: $yellow;
  font-size: 18px;
}

.halfStar {
  fill: $yellow;
  font-size: 18px;
}

.subjectBox {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 8px;
}

.subject {
  margin-right: 4px;
  margin-bottom: 4px;

  > div {
    @media only screen and (max-width: 510px) {
      width: 56px;
      height: 24px;
      font-size: $font6;
      font-weight: $font6W;
      padding: 3px 7px;
    }
  }
}

.school {
  width: 90%;
  margin-top: 12px;
  font-size: $font6;
  font-weight: $font6W;
}

.bio {
  width: 90%;
  margin-top: 8px;
  font-size: $para;
  font-weight: $paraW;
  margin-bottom: 16px;
}
