@import url('../../default.css');

.dropdownContainer {
  display: block;
  position: absolute;
  top: 30px;
  right: 0;
  background-color: $snow;
  padding: 24px;
  border-radius: 3px;
  box-shadow: $defaultShadow;
  width: 120px;
  height: 120px;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $font5;
  font-weight: $font5W;
  margin-bottom: 24px;

  &:last-child {
    margin: 0;
  }
}
