@import url('../../default.css');

.userInfoContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 520px;
  height: 724px;
  background-color: $white;
  margin-top: 80px;
  margin-bottom: 80px;
  border-radius: 5px;
  box-shadow: 0 24px 38px 3px rgb(0 0 0 / 14%);

  > button:last-of-type {
    padding: 8px 103px;
    margin-bottom: 36px;
  }
}

.userStatusBox {
  display: flex;

  > span {
    font-size: $font6;
    font-weight: $font6W;
    margin-right: 17px;
  }
}

.inputArea {
  display: flex;
  flex-direction: column;
  margin-top: 16px;

  > input {
    width: 344px;
    margin-bottom: 4px;
  }

  > div {
    margin-bottom: 4px;
    margin-top: 4px;
  }

  > span {
    margin-bottom: 14px;
    font-size: $sub;
    font-weight: $subW;
    color: $red;
  }

  > span:last-of-type {
    margin-bottom: 14px;
    font-size: $sub;
    font-weight: $subW;
    color: $black;
  }
}

.userInfoText {
  font-size: $font3;
  font-weight: $font3W;
  margin-top: 36px;
}

.emailBox {
  display: flex;
  flex-direction: column;
  width: 316px;
  height: 44px;
  margin-top: 14px;

  > span:first-of-type {
    font-size: $font6;
    font-weight: $font6W;
  }

  > span:last-of-type {
    font-size: $para;
    font-weight: $para;
    margin-top: 4px;
  }
}

.radioBox {
  > label:first-of-type {
    margin-right: 8px;
  }
}

.radioButton {
  display: none;
}

.normalLabel {
  text-align: center;
  line-height: 25px;
  display: inline-block;
  background-color: $silver;
  width: 80px;
  height: 27px;
  border-radius: 5px;
  font-size: $font6;
  font-weight: $font6W;
  color: $black;
}

.checkedLabel {
  text-align: center;
  line-height: 25px;
  display: inline-block;
  background-color: $night;
  width: 80px;
  height: 27px;
  border-radius: 5px;
  font-size: $font6;
  font-weight: $font6W;
  color: $snow;
}
